.templates-header ion-toolbar {
    --background: none;
}

.templates-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    text-align: center;
    margin-top: 45%;
}