  // Heaader css
  .templates-header ion-toolbar {
    --background: none;
}
.green{
  color: var(--ion-color-success);
}

.templates-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content{
  --background: #fff;
}
.qty-btn{
  margin: 0px 5px;
}