.main{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background: white;
    text-align: center;
    width: 60vw;
    margin: 0% auto
}

.languages{
    display: flex;
    justify-content: center
}

.lang{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    border: 2px solid var(--ion-color-primary);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right: 10px;
    margin-bottom: 8px;
    height: 55px;
    cursor: pointer
}

.checkLang{
    margin-top: 15px;
    border-radius: 50%;
    width: 30px
}