ion-content{
    --background: transparent;
}
.close{
    --background: transparent;
    ion-icon{
        font-size: 2rem;
    }
}

// .img-wrap {
//     display: block;
//     width: 100%;
// }
.swiper-slide img {
    max-width: 100%;
    max-height: calc(100vh - 50px);
}
// ion-slides{
//  height: 90%;
// }
.img-wrap img{
    width: 100%;
    max-height: calc(100vh - 50px);
}
