.form-input{
    border: 1px solid gray;
    background: var(--ion-color-light);
    margin-top: 12px;
    border-radius: 8px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
  }


  ion-grid {
    ion-col{
      border: 1px solid gray;
      padding-top: 10px;
      padding-bottom: 10px
    }
    
  }
  .selectFrom{
    padding: 8px;
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid gray;
  }