<div class="tabs-buttons">
  <!-- [attr.role]="myAriaRole ? true: null" -->
  <!-- <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('sales-report')">Sales</ion-button> -->
  <!--  -->
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('sales-report')">Sales</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('category-report')">Category</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('products-report')">Products</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('brands-report')">Brands</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('services-report')">Services</ion-button>
  <ion-button expand="full" class="btn-1 tab-btn" (click)="goToPage('users-report')">Users</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('tax-report')">Tax</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('area-report')">Area</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('vendor-report')">Vendors</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('coupon-report')">Coupons</ion-button>
  <ion-button expand="full" fill="outline" class="btn-1 tab-btn" (click)="goToPage('referral-report')">Referral</ion-button>
  </div>