.list-header{
    top: 0;
}

.list-container{
    margin-top:60px;
}

.add-btn-wrap{
    text-align: right;
}

.previewImg{
    padding: 5px;
    width: 200px;
    border-radius: 10px
}

.divider{
    border-bottom: solid 1px var(--ion-color-medium);
    margin: 26px 0;
  }