<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title class="ion-text-center">Complete Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-container">
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Build With Innovation</ion-card-subtitle>
          <ion-card-title>Razorpay Payment</ion-card-title>
          <ion-row>
            <ion-col>
              Total Payment
            </ion-col>
            <ion-col>
              500
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" color="success">Make Payment</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
