.videoPlayerWeb{
    margin-top: 10px;
    height: 40vh;
    width: 60vw
}

.videoPlayerApp{
    margin-top: 10px;
    height: 60vh;
    width: 20vw
}

p{
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: blue
}