.fd-images {
    background: transparent url('../../../assets/img/img-preloader.png') center no-repeat;
    min-height: 25vh;
    width: 100%;
}

.fd-desc {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10%;
    padding: 12px;
    text-align: justify;
    font-size: 14px;
}

.fd-images-wrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
}