

  <ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start" class="menu-btn">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-menu-button>
      <!--<ion-buttons slot="start">
        <ion-button class="menu-btn">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>-->
      <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
      <div class="search-bx" ><ion-searchbar mode="ios"></ion-searchbar></div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="main-container transparent">
  <div *ngIf="showLoader" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="no-data" *ngIf="noOrders && !showLoader && !orders.length; else showOrders" text-center>
    <img src="assets/img/no-orders.png" alt="">
    <h6>No orders</h6>
  </div>
  <ng-template #showOrders>
      <div class="products-container" *ngFor="let order of orders; let i=index">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="8" class="ion-no-padding">
              <div class="product-col">
              <div class="product-img" [ngStyle]="{'background': 'url(' + order.products[0].img.mob + ') no-repeat center', 'background-size': 'contain'}"
             class="product-image" (click)="goToPrdouctDetails(product.productId)"></div>
  
              <div class="item-detail-wrap">
                <p class="item-title">{{order.products[0].name}} <span *ngIf="order.products.length > 1">+ {{order.products.length - 1}} more</span></p>
                <p class="item-price">{{getTotalAmount(i) | currency: 'INR':true}}</p>
                <ion-button (click)="onClickViewDetails(order.orderId)" fill="outline" shape="round" class="small">
                  View Details
                </ion-button>
              </div>
            </div>
            </ion-col>
            <ion-col size="4" class="qty-col ion-no-padding">
              <div class="order-status-wrap">
              <p class="order-id"> Order Id: ORD{{order.orderId}}</p>
              <p class="order-date"> Order Id: ORD{{order.orderId}}</p>
              <p *ngIf="order.status === 'Pending'">Placed<span><i class="flaticon-tick"></i></span></p>
              <p *ngIf="order.status === 'Rejected'">Rejected<span><i class="flaticon-close"></i></span></p>
              <p *ngIf="order.status === 'Confirmed'">Confirmed<span><i class="flaticon-tick"></i></span></p>
              <p *ngIf="order.status === 'Cancelled'">Cancelled<span><i class="flaticon-close"></i></span></p>
              <p *ngIf="order.status === 'Dispatched'">Dispatched<span><i class="flaticon-tick"></i></span></p>
              <p *ngIf="order.status === 'Delivered'">Delivered<span><i class="flaticon-tick"></i></span></p>
              <p *ngIf="order.status === 'Returned'">Returned<span><i class="flaticon-tick"></i></span></p>

              
            </div>
              
          
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      
      
  </ng-template>
</div>
</ion-content>
