<ion-header>
  <ion-toolbar mode="ios">
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
  
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="main-container ion-text-center">
    <p class="ion-text-center"><strong>You dont have access to view this page</strong></p>
    <br>
    <div class="m-t-16">
      <ion-button class="btn-1" shape="round" (click)="logout()">
        Sign out
      </ion-button>
    </div>
  </div>
</ion-content>