<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start" class="menu-btn">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-menu-button>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title>Languages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="list-header">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="name">
            <p>Languages</p>
          </ion-col>
          <ion-col class="name">
            <p>Action</p>
          </ion-col>
          <ion-col class="name">
            <p>Reorder</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="list-container">
      <ion-grid>
        <ion-reorder-group (ionItemReorder)="onReorderLang($event)" disabled="false" class="ion-no-padding">
        <ion-row *ngFor="let item of languages; let i = index" class="order-row">
          <ion-col class="name">
            <p class="ion-text-capitalize">{{item.englishName}} ( {{item.langName}} )</p>
          </ion-col>
          <ion-col class="action">
            <ion-button (click)="makeDefault(item.id,i)" class="btn-sml i-start" fill="outline"
              shape="round">
              Make default
            </ion-button>&nbsp;&nbsp;
            <ion-button (click)="deleteLang(item.id,i)" class="btn-sml i-start m-s-btn" fill="outline"
              shape="round">
              Delete
            </ion-button>
          </ion-col>
          <ion-col class="name">
            <ion-reorder>
              <div class="flat-sort">
                <i class="flaticon-menu"></i>
              </div>
            </ion-reorder>
          </ion-col>
        </ion-row>
        </ion-reorder-group>
      </ion-grid>
    </div>
    <br/><br/>
    <ion-button shape="round" class="btn-1 i-start" (click)="gotoLanguageAdd()">
      Add Language
    </ion-button>
  </div>
</ion-content>