.scheduleList {
    display: flex;
    align-items: center;
    margin: 12px;
}

ion-datetime{
    border: 1px solid lightgray;
    padding: 5px;
    width: 120px;
    text-align: center;
}
