<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start" class="menu-btn">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-menu-button>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container" *ngIf="userData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="input-wrap">
            <ion-label>Name</ion-label>
            <ion-input class="form-input" [(ngModel)]="userData.name" placeholder="Enter your name"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-wrap">
            <ion-label>Display Name of Vendor</ion-label>
            <ion-input class="form-input" [(ngModel)]="userData.displayName" placeholder="Enter your display name"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-wrap">
            <ion-label>Phone Number</ion-label>
            <ion-input class="form-input" [(ngModel)]="userData.phoneNo" disabled></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-wrap">
            <ion-label>Description</ion-label>
            <ion-input class="form-input" [(ngModel)]="userData.description" ></ion-input>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="flex-space-between" style="justify-content: space-evenly">
            <div>
              <ion-label>Display Profile</ion-label>
            </div>
            <div class="upload-btn-wrapper">
              <button [disabled]="userData.image?.url"
                class="upload-btn btn-1 i-start"
                (click)="uploadImage($event.target.files)"> <i
                  class="flaticon-null-16"></i>Upload Image</button>
                  <input [disabled]="userData.image?.url" type="file" accept="image/*" name="myfile"
                    (change)="uploadImage($event.target.files)" />
            </div>
          </div>
          <br>
          <div class="img-container">
            <!-- <div class="no-img"
              *ngIf="!userData.image.url">
              <p>No attached image</p>
            </div> -->
            <div *ngIf="userData && userData.image?.url">
              <div class="img-wrap">
                <img class="category-img"
                  [src]="userData.image.url" />
                <div class="overlay">
                  <ion-button class="btn-2 remove"
                    shape="round"
                    fill="clear"
                    color="danger"
                    (click)="removeImage()">
                    <ion-icon name="trash"
                      slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div class="">
      <h5>Manage Profile Sections</h5>
      <ion-button (click)="pageVendor(uid,userData.name)">
        edit Profile Sections
      </ion-button>
    </div> -->

  </div>

</ion-content>


<ion-footer no-border class="page-footer">
  <div class="main-container">
    <ion-button (click)="update()" [disabled]="userData?.name === ''" shape="round" class="btn-1 i-start" color="success">
      <i class="flaticon-null-20 margin-icon"></i>
      Update
    </ion-button>
  </div>
</ion-footer>