<ion-header class="templates-header">
  <ion-toolbar>
    <ion-title class="templates-header-title">Cancel Reason</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="data-field">

    <div class="data-field-txt">
      Please provide reason for cancelling the order
    </div>

    <ion-textarea class="m-t-10" rows="4" placeholder="Enter reason here..." [(ngModel)]="reason">
    </ion-textarea>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="submit()" expand="block" class="footer-button">
    submit and cancel
  </ion-button>
</ion-footer>