<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title class="ion-text-center" >Banners</ion-title>
  </ion-toolbar>
  <div class="header-cart-btn">
    <ion-button fill="outline" shape="round" class="add-btn" (click)="addNewSlide()">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      Add new Slide
    </ion-button>
  </div>
</ion-header>


  <ion-content>
    <div class="main-container">
  <ion-list class="widget-list">
    <ion-item>
      <ion-label detail>Banner Slider</ion-label>
    </ion-item>
  </ion-list>
  </div>
  </ion-content>
  
