<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start" class="menu-btn">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-menu-button>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title>Support</ion-title>
  </ion-toolbar>
  <div class="header-cart-btn">
    <ion-button fill="solid" color="secondary">
      <span class="icon" slot="start">
        <i class="flaticon-null" slot="start"></i>
        <span class="count">5</span>
      </span>
    </ion-button>
    <ion-button fill="solid" color="secondary">
      <span class="icon" slot="start">
        <i class="flaticon-shopping-bag" slot="start"></i>
        <span class="count">2</span>
      </span>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="main-container">

  <div *ngIf="showLoader; else showSupportContent" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ng-template #showSupportContent>
    <div class="container ion-padding">
      <div class="org-info">
        <img src="assets/img/bwi-logo.png" class="bwi-logo">
        <br>
        <ion-button (click)="callSupport()" class="call-btn">
          Call: {{supportPhone}}
        </ion-button>
      </div>

      <div class="sections">
        <h6>Plan Description:</h6>
        <p [innerHtml]="planDesc"></p>
      </div>

      <div class="sections">
        <h6>Plan Start Date:</h6>
        <p>{{planStartDate.toDate() | date}}</p>
      </div>

      <div class="sections">
        <h6>Address:</h6>
        <p>
          651, 6<sup>th</sup> Floor, Aggarwal Metro Heights, Netaji Subash Palace, Pitampura, New Delhi, India-110034
        </p>
      </div>

      <div class="copyright-info">
        <p>This app is a product of <strong>Build with Innovation Private Limited</strong></p>
        <p class="copyright-line">&#169;2020 Build with Innovation Private Limited</p>
      </div>

    </div>
  </ng-template>
  </div>
</ion-content>