<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button"
        defaultHref="homepage-setting"></ion-back-button>
    </ion-buttons>
    <div class="header-logo"
      slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title text-center>Edit Document</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div style="text-align: center;">
      <ion-button (click)="saveWidget()"
        color="success"
        fill="outline"
        shape="round">
        Save Document Section
      </ion-button>
    </div>
    <ion-col size="12">
      <div class="input-wrap">
        <ion-label>Section Name</ion-label>
        <ion-input class="form-input" [(ngModel)]="sectionName"></ion-input>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="input-wrap">
        <ion-label>Description</ion-label>
        <ion-input class="form-input"
          [(ngModel)]="description"></ion-input>
      </div>
    </ion-col>
    <br><br>
    <div style="display: flex; align-items: center">
      <ion-label>PDF File</ion-label>
      <div class="upload-btn-wrapper">
        <button class="upload-btn btn-1 i-start"> <i
            class="flaticon-null-16"></i>Upload Pdf File</button>
        <input type="file" accept=".pdf,.docx"
          name="myfile"
          (change)="uploadPdf($event.target.files)" />
      </div>
      <br>
      &nbsp;&nbsp;<a href="{{pdfUrl}}"
        target="_blank"
        *ngIf="pdfUrl != '' ">Uploaded File</a>&nbsp;&nbsp;
      <p *ngIf="widgetData && widgetData.pdfUrl && newFile == true">Selected
        File : {{widgetData.pdfUrl.name}}</p>
    </div>
    <ion-col size="12">
      <div class="flex-space-between"
        style="justify-content: left;">
        <div>
          <ion-label>Image</ion-label>
        </div>
        <div class="upload-btn-wrapper">
          <button
            [disabled]="widgetData && widgetData.coverImage && widgetData.coverImage.org"
            class="upload-btn btn-1 i-start"
            (click)="uploadImage($event.target.files)"> <i
              class="flaticon-null-16"></i>Upload Image</button>
          <!-- <input  [disabled]="widgetData && widgetData.coverImage && widgetData.coverImage.org" type="file" name="myfile" (change)="uploadImage($event.target.files)" /> -->
        </div>
      </div>
      <div class="img-container">
        <div class="no-img"
          *ngIf="widgetData && !widgetData.coverImage">
          <p>No Image</p>
        </div>
        <div *ngIf="widgetData && widgetData.coverImage">
          <div class="img-wrap"
            *ngIf="widgetData.coverImage.org">
            <img class="category-img"
              [src]="widgetData.coverImage.org" />
            <div class="overlay">
              <ion-button class="btn-2 remove"
                shape="round"
                fill="clear"
                color="danger"
                (click)="removeImage()">
                <ion-icon name="trash"
                  slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <br><br>
    <ion-col size="12">
      <div class="input-wrap">
        <ion-label>Download button text</ion-label>
        <ion-input class="form-input"
          [(ngModel)]="btnTxt"></ion-input>
      </div>
    </ion-col>
  </div>
</ion-content>