<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons style="margin-left: -8px;" slot="start">
      <ion-back-button class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-menu-button style="margin-left: 8px;" slot="start" class="menu-btn">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-menu-button>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title>Product Bulk Image Exporter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
