.payment-method{
    margin-top: 30px;
    white-space: pre-wrap;
    overflow: scroll;
}
.bottom-button{
    position: absolute;
    bottom: -5px;
    right: -2px;
    left: -2px;
}
.flaticon-pay::before{
    font-size: 50px;
    
}
.pay-icon{
    margin: 20px
}