.ion-thumbnail{
    width: 100%;
      height: auto;
  }
  
  ion-col.img{
    width: 100px;
    max-width: 100px;
  }
  ion-col.name{
    width: calc(100% - 310px);
    max-width: calc(100% - 300px);
  }
  ion-col.action{
    width: 128px;
    max-width: 100px;
  }
  ion-col.date{
    width: 150;
    max-width: 150;
  }
  
  .product-active {
    background-color: green;
    width: 8px;
    height: 8px;
    min-width: 8px;
    border-radius: 30px;
    border: 1px solid green;
    margin-right: 10%;
  }
  .product-inactive {
    background-color: red;
    width: 8px;
    height: 8px;
    min-width: 8px;
    border-radius: 30px;
    border: 1px solid red;
    margin-right: 10%;
  }
  .list-header-services{
    position: relative;
  }
  

.content-alignment{
  display: flex;
  margin: 0% auto
}

  
  
  
  
  