.green{
    color: var(--ion-color-success);
}
h6{
  margin-top: 0px;
}
.data-table{  
    ion-col{
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px
  }
  
  ion-row:first-child{
    background: lightgray
  }
}
.user-rating-photos{
  ion-img{
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
}