<ion-header>
  <ion-toolbar mode="ios">
    <ion-menu-button slot="start" class="menu-btn">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-menu-button>
    <div class="header-logo" slot="start"><img src="../../../assets/img/shop-logo.png"></div>
    <ion-title text-center>Product Review Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container fixed-height">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-grid class="ion-no-padding data-table ion-text-center" *ngIf="products.length">
              <ion-row class="ion-text-capitalize">
                <ion-col size="4">Product</ion-col>
                <ion-col size="8">Reviews</ion-col>
              </ion-row>

              <ion-row *ngFor="let product of products; let i=index;">
                <ng-container *ngIf="product.ratings.length">
                  <ion-col size="4" class="vertical-center">
                    <div class="vertical-center">
                      <ion-thumbnail style="margin-right: 20px;" class="thumbnail">
                        <img class="loading" *ngIf="product.coverPic"
                          src="{{product.coverPic.thumb}}">
                      </ion-thumbnail>
                      {{product.prodName}}
                    </div>
                  </ion-col>
                  <ion-col size="8" class="t-a-l">
                    <ng-container *ngFor="let rating of product.ratings; let j=index">
                      <div style="display: flex; padding-left: 10px;">
                        <div style="width: 80%;">
                          <h6><b>{{rating.userName}}</b></h6>
                          <ionic4-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                            [activeColor]="getStarColor(rating.rating)" defaultColor="#e1e1e1" readonly="true"
                            [rating]="rating.rating" fontSize="15px" halfStar='true'>
                          </ionic4-star-rating>
                          <p class="user-rating-review">{{rating.review}}</p>
                          <div class="user-rating-photos" *ngIf="rating.photos && rating.photos.length">
                            <ion-img [src]="photo.thumb" *ngFor="let photo of rating.photos; let k=index;"
                              (click)="imageZoom(rating.photos, k)"></ion-img>
                          </div>
                          <p class="user-rating-date">Rated On {{rating.createdAt.toDate() | date:'dd MMMM yyyy'}}</p>
                        </div>
    
                        <div style="width: 20%;" class="vertical-center">
                          <ng-container *ngIf="rating.status === 'approved'"><b class="green">Approved</b></ng-container>
                          <ng-container *ngIf="rating.status !== 'approved'">
                            <ion-button (click)="approve(product.id, rating.id, i,j)" fill="outline" shape="round" size="small">
                              Approve
                            </ion-button>
                          </ng-container>
                        </div>
                      </div>
                      <hr class="line" *ngIf="product.ratings.length - 1 !== j">
                    </ng-container>
                  </ion-col>
                </ng-container>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>