.main-container {
  width: 100%;
  padding: 0
}

#scroll1 {
  overflow: hidden;
  height: 75vh;
  border-right: 1px solid lightgray;
  &:hover {
    overflow-y: auto;
  }
}

#scroll2 {
  overflow: hidden;
  height: 86vh;
  &:hover {
    overflow-y: auto;
  }
}

#scroll {
  overflow: hidden;
  height: calc(100vh - 107px);
  border-right: 1px solid lightgray;
  &:hover {
    overflow-y: auto;
  }
}
.sectionArea{
  h2 {
    text-align: center;
  }
}

h2 {
  margin-top: 0;
  font-size: 24px;
}

#mainField {
  margin: 0 4px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainFieldSelect {
  height: 34px;
  margin: 0 4px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#subField {
  margin: 0 8px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hide {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s linear;
}

#fieldSelection {
  margin: 0 4px 8px 8px;
}