.list-header{position: static;text-align: center}
.list-container{margin-top: 0;}
.info-txt {
    color: red;
    font-size: 14px;
    font-weight: bold
}

.m-l-5-p {
    text-align: center
}