<ion-tabs>
    <ion-tab-bar slot="bottom" color = "dark">
      <ion-tab-button tab="admin-home">
        <ion-label><i class="flaticon-mail"></i><span class="tab-text">message</span></ion-label>
      </ion-tab-button>
      <ion-tab-button tab="admin-shop">
        <ion-label><i class="flaticon-cart"></i><span class="tab-text">shop</span></ion-label>
      </ion-tab-button>
      <ion-tab-button tab="admin-allusers">
        <ion-label><i class="flaticon-user"></i><span class="tab-text">users</span></ion-label>
      </ion-tab-button>
      <ion-tab-button tab="admin-settings">
        <ion-label><i class="flaticon-gear"></i><span class="tab-text">settings</span></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
